/*
* @components   Product
*/

.product{
	width: calc(280px + (15px * 2));
	padding: 20px 15px 30px;
	background: $white;
	&__vendorCode{
		font-family: $proximaNova-light;
		font-size: 13px;
		line-height: 15px;
		color: $gray;
		text-align: right;
	}
	&__img{
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		max-width: 280px;
		height: 200px;
		background: $gray-lighter;
		> img{
			max-height: 200px;
		}
	}
	&__state{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		&_icon{
			width: 9px;
			height: 7px;
			margin-right: 8px;
			background: url("../images/done/path-1176@3x.png") no-repeat center center / cover;
		}
		&_text{
			font-size: 13px;
			line-height: 16px;
			color: $secondary-1;
		}
	}
	&__title{
		font-size: 18px;
		line-height: 22px;
		color: darken(saturate(adjust-hue($default, 0.0000), 0.0000), 5.0980);
	}
	&__description{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	&__item{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		font-size: 12px;
		line-height: 22px;
		font-family: $proximaNova-light;
		&_key{
			color: $gray;
			margin-right: 2px;
		}
		&_value{
			margin-left: 2px;
		}
	}
	&__icon-wrap{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
	}
	&__icon{
		display: flex;
		align-items: center;
		width: 19px;
		height: 17px;
		&_scale{
			width: 26px;
		}
	}


	&__footer{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
	}

}
.product{
	&__vendorCode + *{
		margin-top: 15px;
	}
	&__img + *{
		margin-top: 22px;
	}
	&__state + * {
		margin-top: 5px;
	}
	&__title + *{
		margin-top: 17px;
	}
	&__icon + .product__icon{
		margin-left: 10px;
	}
	* + &__footer{
		margin-top: 38px;
	}
}

.product-wraper{
	padding: 20px;
	background: $gray-light;
}